extends ../layout
block append script
block content
	.container
		form(method='POST' action='/transaction/create')
			#demo.carousel.slide(data-ride='carousel')
					// Indicators
					ul.carousel-indicators
						li.active(data-target='#demo' data-slide-to='0')
						li(data-target='#demo' data-slide-to='1')
						li(data-target='#demo' data-slide-to='2')
					// The slideshow
					.carousel-inner
						.carousel-item.active
							ul#products
								a#productmain(style="background-image: url(/images/"+product.imagea+".jpg); background-color: rgba(20, 20, 20, 0.9); border-radius: 5px; width: 300px; height: 200px; margin: auto;")
						.carousel-item
							ul#products
								a#productmain(style="background-image: url(/images/"+product.imageb+".jpg); background-color: rgba(20, 20, 20, 0.9); border-radius: 5px; width: 300px; height: 200px; margin: auto;")
						.carousel-item
							ul#products
								a#productmain(style="background-image: url(/images/"+product.imagec+".jpg); background-color: rgba(20, 20, 20, 0.9); border-radius: 5px; width: 300px; height: 200px; margin: auto;")
					// Left and right controls
					a.carousel-control-prev(href='#demo' data-slide='prev')
						span.carousel-control-prev-icon
					a.carousel-control-next(href='#demo' data-slide='next')
						span.carousel-control-next-icon
			.containerinfo
				.row.mt-2.mb-2
					.col-md-3.pr-5
						label(for="name") نام:
					.col-md-3.pl-5
						span.text-danger #{product.name}
					.col-md-3.pr-5
						label(for="branch") کد محصول:
					.col-md-3.pl-5
						span.text-danger #{product.productcode}
				.row.mt-2.mb-2
					.col-md-3.pr-5
						label(for="description") توضیحات:
					.col-md-9.pl-5
						p.text-danger.text-center #{product.description}
					br
					br
					br
					br
				p.text-center مشخصات قطعات
				.container
					.row.mt-2.mb-2
						.col-md-3.pl-5
							label(for="blocksilandrinfo") بلوک سیلندر
						.col-md-3.pl-5
							p.text-danger #{product.blocksilandr}
			br
			p.text-info.text-center لطفا در صورت تمایل به سفارش، تعداد قطعات را به صورت عددی وارد نمایید
			br
			.containerinfo
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="blocksilandr") بلوک سیلندر:
					.col-md-3.pl-5
						input#blocksilandr.form-control(type="number" name="blocksilandr" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
					.col-md-3.pr-5
						label(for="silandr") سیلندر:
					.col-md-3.pl-5
						input#silandr.form-control(type="number" name="silandr" required="is required" oninvalid="this.setCustomValidity('Please Enter Product Description')" oninput="setCustomValidity('')" maxlength="50")
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="sarsilandr") سر سیلندر:
					.col-md-3.pl-5
						input#sarsilandr.form-control(type="number" name="sarsilandr" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
					.col-md-3.pr-5
						label(for="millang") میل لنگ:
					.col-md-3.pl-5
						input#millang.form-control(type="number" name="millang" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="milsupap") میل سوپاپ:
					.col-md-3.pl-5
						input#milsupap.form-control(type="number" name="milsupap" required="is required" oninvalid="this.setCustomValidity('Please Enter Product Description')" oninput="setCustomValidity('')" maxlength="50")
					.col-md-3.pr-5
						label(for="bush") بوش:
					.col-md-3.pl-5
						input#bush.form-control(type="number" name="bush" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="ring") رینگ:
					.col-md-3.pl-5
						input#ring.form-control(type="number" name="ring" required="is required" oninvalid="this.setCustomValidity('Please Enter Product Description')" oninput="setCustomValidity('')" maxlength="50")
					.col-md-3.pr-5
						label(for="yataghan") یاطاقان:
					.col-md-3.pl-5
						input#yataghan.form-control(type="number" name="yataghan" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="supap") سوپاپ:
					.col-md-3.pl-5
						input#supap.form-control(type="number" name="supap" required="is required" oninvalid="this.setCustomValidity('Please Enter Product Description')" oninput="setCustomValidity('')" maxlength="50")
					.col-md-3.pr-5
						label(for="seat") سیت:
					.col-md-3.pl-5
						input#seat.form-control(type="number" name="seat" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="gate") گیت:
					.col-md-3.pl-5
						input#gate.form-control(type="number" name="gate" required="is required" oninvalid="this.setCustomValidity('Please Enter Product Description')" oninput="setCustomValidity('')" maxlength="50")
					.col-md-3.pr-5
						label(for="waterpomp") واترپمپ:
					.col-md-3.pl-5
						input#waterpomp.form-control(type="number" name="waterpomp" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="oilpomp") اویل پمپ:
					.col-md-3.pl-5
						input#oilpomp.form-control(type="number" name="oilpomp" required="is required" oninvalid="this.setCustomValidity('Please Enter Product Description')" oninput="setCustomValidity('')" maxlength="50")
					.col-md-3.pr-5
						label(for="washerkamel") واشر کامل:
					.col-md-3.pl-5
						input#washerkamel.form-control(type="number" name="washerkamel" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="washersarsilandr") واشر سر سیلندر:
					.col-md-3.pl-5
						input#washersarsilandr.form-control(type="number" name="washersarsilandr" required="is required" oninvalid="this.setCustomValidity('Please Enter Product Description')" oninput="setCustomValidity('')" maxlength="50")
					.col-md-3.pr-5
						label(for="washercartel") واشر کارتل:
					.col-md-3.pl-5
						input#washercartel.form-control(type="number" name="washercartel" pattern=".{6,}" required="is required" oninvalid="setCustomValidity('at least 6 characters is required')" oninput="setCustomValidity('')" maxlength="10")
				.row.mt-4.mb-4
					.col-md-3.pr-5
						label(for="asbakdudohava") اسبک دود و هوا:
					.col-md-3.pl-5
						input#asbakdudohava.form-control(type="number" name="asbakdudohava" required="is required" oninvalid="this.setCustomValidity('Please Enter Product Description')" oninput="setCustomValidity('')" maxlength="50")
			.row.txt-center.mt-4
				.col-md-7.mt-3
					button.btn.btn-success.linkbutton(type="submit") ثبت سفارش
			script.
				console.log(!{JSON.stringify(product)})