extends ../layout
block append script
block content
  .container
    //- h2.text-info.text-center انواع بیل مکانیکی های هیوندای
    //- .row.mt-5.p-4
    //-   p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های هیوندای
    //- .row
    //-   ul#products
        //- each item in products
        //-   a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
        //-     .row.mt-5
        //-     //btn.btn-success.p-1.rounded سفارش قطعات
        //-   script.
        //-     console.log(!{JSON.stringify(item)})
    if (products_a1a)
      h2.text-info.text-center انواع بیل مکانیکی های HYUNDAI
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های HYUNDAI
      .row
        ul#products
          each item in products_a1a
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1b)
      h2.text-info.text-center انواع بیل مکانیکی های KUMATSU
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های KUMATSU
      .row
        ul#products
          each item in products_a1b
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1c)
      h2.text-info.text-center انواع بیل مکانیکی های ZOOMLION
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های ZOOMLION
      .row
        ul#products
          each item in products_a1c
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1d)
      h2.text-info.text-center انواع بیل مکانیکی های HEPCO
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های HEPCO
      .row
        ul#products
          each item in products_a1d
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1e)
      h2.text-info.text-center انواع بیل مکانیکی های LIUGONG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های LIUGONG
      .row
        ul#products
          each item in products_a1e
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1f)
      h2.text-info.text-center انواع بیل مکانیکی های CHANGLIN
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های CHANGLIN
      .row
        ul#products
          each item in products_a1f
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1g)
      h2.text-info.text-center انواع بیل مکانیکی های XCMG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های XCMG
      .row
        ul#products
          each item in products_a1g
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1h)
      h2.text-info.text-center انواع بیل مکانیکی های DELTA
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های DELTA
      .row
        ul#products
          each item in products_a1h
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1i)
      h2.text-info.text-center انواع بیل مکانیکی های FOTON LOVOL
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های FOTON LOVOL
      .row
        ul#products
          each item in products_a1i
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1j)
      h2.text-info.text-center انواع بیل مکانیکی های HELICO
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های HELICO
      .row
        ul#products
          each item in products_a1j
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1k)
      h2.text-info.text-center انواع بیل مکانیکی های SDLG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های SDLG
      .row
        ul#products
          each item in products_a1k
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1l)
      h2.text-info.text-center انواع بیل مکانیکی های SUNWARD
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های SUNWARD
      .row
        ul#products
          each item in products_a1l
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1m)
      h2.text-info.text-center انواع بیل مکانیکی های TIRAGE MACHINE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های TIRAGE MACHINE
      .row
        ul#products
          each item in products_a1m
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1n)
      h2.text-info.text-center انواع بیل مکانیکی های JONYANG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های JONYANG
      .row
        ul#products
          each item in products_a1n
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1o)
      h2.text-info.text-center انواع بیل مکانیکی های RHINO
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های RHINO
      .row
        ul#products
          each item in products_a1o
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a1p)
      h2.text-info.text-center انواع بیل مکانیکی های POWER PLUS
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل مکانیکی های POWER PLUS
      .row
        ul#products
          each item in products_a1p
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2a)
      h2.text-info.text-center انواع لودر های HYUNDAI
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های HYUNDAI
      .row
        ul#products
          each item in products_a2a
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2b)
      h2.text-info.text-center انواع لودر های DELTA
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های DELTA
      .row
        ul#products
          each item in products_a2b
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2c)
      h2.text-info.text-center انواع لودر های HEPCO
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های HEPCO
      .row
        ul#products
          each item in products_a2c
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2d)
      h2.text-info.text-center انواع لودر های HELICO
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های HELICO
      .row
        ul#products
          each item in products_a2d
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2e)
      h2.text-info.text-center انواع لودر های NEW HOLLAND
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های NEW HOLLAND
      .row
        ul#products
          each item in products_a2e
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2f)
      h2.text-info.text-center انواع لودر های XCMG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های XCMG
      .row
        ul#products
          each item in products_a2f
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2g)
      h2.text-info.text-center انواع لودر های KOMATSU
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های KOMATSU
      .row
        ul#products
          each item in products_a2g
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2h)
      h2.text-info.text-center انواع لودر های CHANGLIN
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های CHANGLIN
      .row
        ul#products
          each item in products_a2h
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2i)
      h2.text-info.text-center انواع لودر های DOOSAN
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های DOOSAN
      .row
        ul#products
          each item in products_a2i
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2j)
      h2.text-info.text-center انواع لودر های SDLG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های SDLG
      .row
        ul#products
          each item in products_a2j
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a2k)
      h2.text-info.text-center انواع لودر های LIUGONG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز لودر های LIUGONG
      .row
        ul#products
          each item in products_a2k
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3a)
      h2.text-info.text-center انواع بلدوزر های SHANTUI
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های SHANTUI
      .row
        ul#products
          each item in products_a3a
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3b)
      h2.text-info.text-center انواع بلدوزر های KOMATSU
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های KOMATSU
      .row
        ul#products
          each item in products_a3b
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3c)
      h2.text-info.text-center انواع بلدوزر های NEW HOLLAND
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های NEW HOLLAND
      .row
        ul#products
          each item in products_a3c
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3d)
      h2.text-info.text-center انواع بلدوزر های TIRAGE MACHINE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های TIRAGE MACHINE
      .row
        ul#products
          each item in products_a3d
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3e)
      h2.text-info.text-center انواع بلدوزر های CHANGLINE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های CHANGLINE
      .row
        ul#products
          each item in products_a3e
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3f)
      h2.text-info.text-center انواع بلدوزر های CASE CRAWLE TRACTOR
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های CASE CRAWLE TRACTOR
      .row
        ul#products
          each item in products_a3f
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3g)
      h2.text-info.text-center انواع بلدوزر های CHETRA DOZER
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های CHETRA DOZER
      .row
        ul#products
          each item in products_a3g
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3h)
      h2.text-info.text-center انواع بلدوزر های POWER PLUS
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های POWER PLUS
      .row
        ul#products
          each item in products_a3h
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3i)
      h2.text-info.text-center انواع بلدوزر های ZOOMLION
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های ZOOMLION
      .row
        ul#products
          each item in products_a3i
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3j)
      h2.text-info.text-center انواع بلدوزر های LIUGONG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های LIUGONG
      .row
        ul#products
          each item in products_a3j
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3k)
      h2.text-info.text-center انواع بلدوزر های HBXG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های HBXG
      .row
        ul#products
          each item in products_a3k
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3l)
      h2.text-info.text-center انواع بلدوزر های RHINO
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های RHINO
      .row
        ul#products
          each item in products_a3l
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a3m)
      h2.text-info.text-center انواع بلدوزر های ACE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بلدوزر های ACE
      .row
        ul#products
          each item in products_a3m
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4a)
      h2.text-info.text-center انواع گریدر های KOMATSU
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های KOMATSU
      .row
        ul#products
          each item in products_a4a
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4b)
      h2.text-info.text-center انواع گریدر های NEW HOLLAND
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های NEWHOLLAND
      .row
        ul#products
          each item in products_a4b
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4c)
      h2.text-info.text-center انواع گریدر های CHANGLINE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های CHANGLINE
      .row
        ul#products
          each item in products_a4c
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4d)
      h2.text-info.text-center انواع گریدر های TIRAGE MACHINE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های TIRAGE MACHINE
      .row
        ul#products
          each item in products_a4d
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4e)
      h2.text-info.text-center انواع گریدر های XCMG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های XCMG
      .row
        ul#products
          each item in products_a4e
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4f)
      h2.text-info.text-center انواع گریدر های SHANTUI
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های SHANTUI
      .row
        ul#products
          each item in products_a4f
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4g)
      h2.text-info.text-center انواع گریدر های SANY
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های SANY
      .row
        ul#products
          each item in products_a4g
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4h)
      h2.text-info.text-center انواع گریدر های LIUGONG
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های LIUGONG
      .row
        ul#products
          each item in products_a4h
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4i)
      h2.text-info.text-center انواع گریدر های POWER PLUS
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های POWER PLUS
      .row
        ul#products
          each item in products_a4i
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4j)
      h2.text-info.text-center انواع گریدر های RHINO
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های RHINO
      .row
        ul#products
          each item in products_a4j
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a4k)
      h2.text-info.text-center انواع گریدر های ACE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز گریدر های ACE
      .row
        ul#products
          each item in products_a4k
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a5a)
      h2.text-info.text-center انواع غلطک های DELTA
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز غلطک های DELTA
      .row
        ul#products
          each item in products_a5a
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a5b)
      h2.text-info.text-center انواع غلطک های HELICO
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز غلطک های HELICO
      .row
        ul#products
          each item in products_a5b
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a5c)
      h2.text-info.text-center انواع غلطک های TIRAGE MACHINE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز غلطک های TIRAGE MACHINE
      .row
        ul#products
          each item in products_a5c
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a5d)
      h2.text-info.text-center انواع غلطک های CHANGLINE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز غلطک های CHANGLINE
      .row
        ul#products
          each item in products_a5d
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a6a)
      h2.text-info.text-center انواع دامپتراک های NHL TREEX
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز دامپتراک های NHL TREEX
      .row
        ul#products
          each item in products_a6a
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a6b)
      h2.text-info.text-center انواع دامپتراک های KOMATSU
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز دامپتراک های KOMATSU
      .row
        ul#products
          each item in products_a6b
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a6c)
      h2.text-info.text-center انواع دامپتراک های BELAZ
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز دامپتراک های BELAZ
      .row
        ul#products
          each item in products_a6c
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a6d)
      h2.text-info.text-center انواع دامپتراک های SANY
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز دامپتراک های SANY
      .row
        ul#products
          each item in products_a6d
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_a7a)
      h2.text-info.text-center انواع بیل بکهو های CHANGLINE
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز بیل بکهو های CHANGLINE
      .row
        ul#products
          each item in products_a7a
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_b1)
      h2.text-info.text-center انواع ماشین های حمل و نقل جاده ای و ترابری شرکت سایپا دیزل
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز ماشین های حمل و نقل جاده ای و ترابری شرکت سایپا دیزل
      .row
        ul#products
          each item in products_b1
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_b2)
      h2.text-info.text-center انواع ماشین های حمل و نقل جاده ای و ترابری شرکت بهمن دیزل
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز ماشین های حمل و نقل جاده ای و ترابری شرکت بهمن دیزل
      .row
        ul#products
          each item in products_b2
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_b3)
      h2.text-info.text-center انواع ماشین های حمل و نقل جاده ای و ترابری کاریزان خودرو
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز ماشین های حمل و نقل جاده ای و ترابری کاریزان خودرو
      .row
        ul#products
          each item in products_b3
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_b4)
      h2.text-info.text-center انواع ماشین های حمل و نقل جاده ای و ترابری BMC
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز ماشین های حمل و نقل جاده ای و ترابری BMC
      .row
        ul#products
          each item in products_b4
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_b5)
      h2.text-info.text-center انواع ماشین های حمل و نقل جاده ای و ترابری INTERNATIONAL
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز ماشین های حمل و نقل جاده ای و ترابری INTERNATIONAL
      .row
        ul#products
          each item in products_b5
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_c1)
      h2.text-info.text-center انواع دیزل ژنراتور های stamford
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز دیزل ژنراتور های stamford
      .row
        ul#products
          each item in products_c1
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
    else if (products_d)
      h2.text-info.text-center انواع کمپرسور
      .row.mt-5.p-4
        p.text-right.mt-5 ویژگی های بارز کمپرسور
      .row
        ul#products
          each item in products_d
            a#productmain(style="background-image: url(/images/"+item.imagea+".jpg);" href='/transaction/create/'+item._id) #{item.name}
